.create-department-form {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.create-department-name-input, .create-department-description-input {
    height: 52px;
}

.create-department-select {
    height: 52px;
}

.create-department-title {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-1);
}