.info-modal-title {
    margin-bottom: 20px;
}

.info-modal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-modal-department {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.info-modal-hire {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.select-out-of-work {
    width: 423px;
    height: 52px;
}

.hire-button {
    align-self: flex-end;
}

.department-workers-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    overflow-x: scroll;
}

.department-workers-card {
    width: 306px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    border-bottom: 1px solid var(--color-blue);
    padding: 18px 29px;
}

.department-workers-card-container {
    display: flex;
    justify-content: center;
}

.fire-button {
    width: 157px;
}